<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dintist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="dintist.Properties.Settings.DentistConnectionString" connectionString="Data Source=DESKTOP-RH94TE5;Initial Catalog=Dentist;;User ID=hosny;Password=Hosnyaz123;User Instance=False;Context Connection=True" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|"/>
    <add name="localhost_Dentist_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5\SQLEXPRESS01;integrated security=SSPI;initial catalog=Dentist"/>
    <add name="localhost_Dentist_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;integrated security=SSPI;initial catalog=Dentist"/>
    <add name="localhost_Dentist_Connection 2" connectionString="XpoProvider=MSSqlServer;data server=192.168.1.10,1433;Initial Catalog=Dentist;  User ID=hosny;Password=Hosnyaz123 Persist Security Info=true"/>
    <add name="localhost_Dentist_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.20,1433;user id=;password=;initial catalog=Dentist;Persist Security Info=true"/>
    <add name="localhost_Dentist_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;user id=hosny;password=Hosnyaz123;initial catalog=Dentist;Persist Security Info=true"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <dintist.Properties.Settings>
      <setting name="SERVERNAME" serializeAs="String">
        <value>DESKTOP-RH94TE5</value>
      </setting>
      <setting name="DATABASENAME" serializeAs="String">
        <value>Dentist</value>
      </setting>
      <setting name="USERNAME" serializeAs="String">
        <value>hosny</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>Hosnyaz123</value>
      </setting>
    </dintist.Properties.Settings>
  </userSettings>
</configuration>
